@import 'tailwindcss' source('../');

@theme {
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a8a29e;
  --color-stone-500: #78716c;
  --color-stone-600: #57534e;
  --color-stone-700: #44403c;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-stone-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-stone-200 dark:border-stone-800;
  }

  html,
  body {
    @apply text-stone-800 bg-stone-50 dark:bg-stone-950 dark:text-stone-300 font-sans antialiased;
  }
}

.btn-primary {
    @apply px-6 py-2 bg-stone-900 text-stone-50 hover:bg-stone-700 dark:bg-stone-100 dark:text-stone-900 dark:hover:bg-stone-300 transition-colors duration-200 rounded text-sm font-medium;
}

.btn-outline {
    @apply px-6 py-2 border border-stone-300 hover:border-stone-500 text-stone-700 hover:text-stone-900 dark:border-stone-700 dark:hover:border-stone-500 dark:text-stone-400 dark:hover:text-stone-200 transition-colors duration-200 rounded text-sm font-medium;
}