@import 'tailwindcss' source('../');

@theme {
  --color-regal-blue: #243c5a; 
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

.btn-normal {
  @apply p-3 rounded-lg transition-transform duration-200 ease-out hover:-translate-y-1 [box-shadow:4px_4px_10px_rgba(59,130,246,0.3)] cursor-pointer;
}